<h1>Quem são?</h1>

<div class="filters">
  <h4>Por indicação:</h4>
  <label><input type="checkbox" name="" value="FHC"> Fernando Henrique (PSDB)</label>
  <label><input type="checkbox" name="" value="Lula"> Lula (PT)</label>
  <label><input type="checkbox" name="" value="Dilma"> Dilma (PT)</label>
</div>

<div class="row">
  <div class="col-md-12 scrollable-h">
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-6 director-thumb" ng-repeat="director in directors" id="{{ director.directorId }}" directors-list></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 ficha">
    <div class="">
      <h3>Renato Navarro Guerreiro</h3>
      <strong>Quem indicou:</strong> FHC<br>
      <strong>Quando entrou:</strong> 05/11/1997<br>
      <strong>Quando saiu:</strong> 05/11/2000<br>
      Engenheiro eletricista com especialização em Telecomunicações pela Pontifícia Universidade Católica do Rio de Janeiro (PUC-RJ)
      <h5>ONDE TRABALHOU ANTES</h5>
      <ul>
        <li>
          <h5>Empresa</h5>
          Cargo<br>
          Período
        </li>
      </ul>
      <h5>ONDE TRABLHOU DEPOIS</h5>
      <ul>
        <li>
          <h5>Empresa</h5>
          Cargo<br>
          Período
        </li>
      </ul>
    </div>
  </div>
</div>