<div class="panel panel-default">
  <div class="panel-heading"><strong>Indicação:</strong></div>
  <div class="panel-body">
    {{ directorInformation.appointment }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Mandatos:</strong></div>
  <div class="panel-body">
    <ol class="director-mandate" ng-repeat="mandate in directorInformation.mandates">
      <li>
        <strong>Início:</strong> {{ mandate.start }} | <strong>Término:</strong> {{ mandate.end }}
      </li>
    </ol>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Naturalidade:</strong></div>
  <div class="panel-body">
    {{ directorInformation.placeOfBirth }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Afinidade Política:</strong></div>
  <div class="panel-body">
    {{ directorInformation.politicalPartyAffinity }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Biografia:</strong></div>
  <div class="panel-body">
    {{ directorInformation.biography }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Referência:</strong></div>
  <div class="panel-body overflow-hidden" >
    <ul class="director-links" ng-repeat="link in directorInformation.refLinks">
      <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
    </ul>
  </div>
</div>


