<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4>Indicação:</h4>
  </div>
</div>

<div class="row">
  <div class="btn-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button type="button" filter="1" selected="1" id="btn-fhc" class="btn btn-default filter-selected">FHC (PSDB)</button>
    <button type="button" filter="2" selected="1" id="btn-lula" class="btn btn-default filter-selected">Lula (PT)</button>
    <button type="button" filter="3" selected="1" id="btn-dilma" class="btn btn-default filter-selected">Dilma (PT)</button>
  </div>
</div>