<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4><strong>Indicação:</strong> FHC</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4>Mandatos</h4>
    <ol>
      <li><strong>início:</strong> 05/11/1997 | <strong>Término:</strong> 05/11/2000</li>
      <li><strong>início:</strong> 05/11/1997 | <strong>Término:</strong> 05/11/2000</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4>Biografia</h4>
    <p>Engenheiro eletricista com especialização em Telecomunicações pela Pontifícia Universidade Católica do Rio de Janeiro (PUC-RJ)</p>
  </div>
</div>


