<h2>Quem são?</h2>

<div class="row">
  <div class="col-md-12">
    <h3>Filtros:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <directors-filters class="directors-filters"></directors-filters>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-md-12 scrollable-h">
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-6 director-thumb" ng-repeat="director in directors" id="{{ director.directorId }}" directors-list></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ficha">
    <director-details></director-details>
  </div>
</div>