<div class="panel panel-default">
  <div class="panel-heading"><strong>Indicação:</strong></div>
  <div class="panel-body">
    {{ directorInformation.appointment }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Mandatos:</strong></div>
  <div class="panel-body">
    <ol class="director-mandate">
      <li><strong>Início:</strong> 05/11/1997 | <strong>Término:</strong> 05/11/2000</li>
      <li><strong>Início:</strong> 05/11/1997 | <strong>Término:</strong> 05/11/2000</li>
    </ol>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Naturalidade:</strong></div>
  <div class="panel-body">
    {{ directorInformation.placeOfBirth }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Afinidade Política:</strong></div>
  <div class="panel-body">
    {{ directorInformation.politicalPartyAffinity }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Biografia:</strong></div>
  <div class="panel-body">
    {{ directorInformation.biography }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Referência:</strong></div>
  <div class="panel-body overflow-hidden">
    {{ directorInformation.refLinks }}
  </div>
</div>


