<div class="director-details">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <h3>Renato Navarro Guerreiro</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#information" data-toggle="tab">Detalhes</a></li>
        <li><a href="#professional_history" data-toggle="tab">Histórico Profissional</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="information">
          <director-information></director-information>
        </div>
        <div class="tab-pane fade" id="professional_history">
          <director-professional-history></director-professional-history>
        </div>
      </div>

    </div>
  </div>

</div>